@charset "UTF-8";

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* スクロールを防ぐ */
}
canvas.noise {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* クリックイベントを無効化 */
    z-index: 9999; /* 背景として使いたいため、すべての要素の背後に配置 */
}

/* 動画の設定 */
body.top {
    position: relative; /* 親要素としての基準を設定 */
    width: 100%;
    height: 100%;
    align-items: center; /* 垂直方向の中央揃え */
    background-color: black; /* 背景色を設定（必要なら） */
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* 画面全体を埋める */
}
